<configuration debug="false" scan="true">
    <timestamp key="byDay" datePattern="yyyyMMdd'-'HHmmss"/>
    <appender name="STDOUT" class="io.elytra.sdk.io.ElytraConsoleAppender"/>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/latest.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logs/%d{yyyy-MM-dd}.gz</fileNamePattern>

            <!-- keep 30 days' worth of history capped at 1GB total size -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>

        </rollingPolicy>

        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} %-5level[%thread] %logger{0}: %replace(%msg){'\u001B\[..?m', ''}%n</Pattern>
        </encoder>
    </appender>

    <!-- Only warning logs for netty -->
    <logger name="io.netty" level="WARN"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
